.theme-selector {
  color: #fff;
  text-align: center;
}

.helper {
  margin: 10px 0 20px 0;
}

.theme-selector-link {
  cursor: pointer;
}

.theme-selector-link path{
  fill: #FFF;
}

.line {
  fill: none;
  stroke: #FFF;
  stroke-width: .5;
}
