.player-wrapper {
  display: table;
  width: 100%;
}
.player-display {
  will-change: transform;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.display-line {
  stroke: #FFF;
  stroke-width: 1;
}

.display-circle {
  fill: #FFF;
}

.display-shape {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
}

.icon {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
}

.display-volume {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
  stroke-dasharray: 5, 10;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.display-none {
  display: none;
}

.control {
  fill: #FFF;
  transform: translate(265px, 265px);
  cursor: pointer;
}

.control-bg {
  transition: all .2s linear;
  opacity: 0;
}

.control:hover .control-bg{
  opacity: 0.3;
}
