.display-line {
  stroke: #FFF;
  stroke-width: 1;
}

.display-circle {
  fill: #FFF;
}

.display-shape {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
}

.icon {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
