.display-line {
  stroke: #FFF;
  stroke-width: 1;
}

.display-circle {
  fill: #FFF;
}

.display-shape {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
}

.icon {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
}

.display-volume {
  fill: none;
  stroke: #FFF;
  stroke-width: .5;
  stroke-dasharray: 5, 10;
}
